.hero {
  position: relative;
  width: 100vw;
  height: 50vh;
  overflow: hidden;
}
.hero > img {
  position: absolute;
  width: 100%;
}

.brand-logo {
  align-self: flex-start;
  border-radius: 12px;
}

.social {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

h5.footer_title {
  font-size: 2rem;
  font-weight: bold;
}

i.footer_icon {
  font-size: 2rem;
  padding-left: 1rem;
}
i.service_icon {
  color: green;
  font-size: 4rem;
}

.no_margin_bottom {
  margin-bottom: inherit;
}

i.icon_white {
  color: white;
}

h5.about_title {
  font-size: 2rem;
  font-weight: bold;
}

.about_section {
  font-family: "Courier New";
  width: 100%;
  padding: 10vh 0 10vh 0;
  overflow: hidden;
}
img.about_image {
  width: 100%;
  height: auto;
}

/*Flex vertical align*/
.tfb {
  font-size: 2rem;
  font-weight: bold;
}
/*Flex vertical align*/
.fva {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
@import url(https://fonts.googleapis.com/css?family=Lato:300,400);
body {
  background-color: #2a2a2a;
  margin: 0;
}
.container {
  color: #fff;
}

/* linear loading */
.bar-container {
  position: relative;
  height: 20px;
  width: 100%;
  background-color: #bdbdbd;
}

.bar {
  content: "";
  display: inline;
  position: absolute;
  height: 100%;
  width: 0%;
  right: 0;
}

.bar:nth-child(1) {
  background-color: #006495;
  animation: linear_loader 3s linear 1s infinite;
}

.bar:nth-child(2) {
  background-color: #f2635f;
  animation: linear_loader 3s linear 2s infinite;
}

.bar:nth-child(3) {
  background-color: #f4d00c;
  animation: linear_loader 3s linear 3s infinite;
}

@keyframes linear_loader {
  0% {
    right: 100%;
    width: 10%;
  }
  30% {
    right: 0%;
    width: 40%;
  }
  50% {
    right: 0%;
    width: 0%;
  }
  80% {
    right: 0%;
    width: 0%;
  }
  100% {
    right: 0%;
    width: 0%;
  }
}
/* end linear loading */
