* {
  font-family: "Nunito", sans-serif;
}

body {
  background-color: wheat;
}

.hero {
  position: relative;
  width: 100vw;
  height: 50vh;
  overflow: hidden;
}
.hero > img {
  position: absolute;
  width: 100%;
}

nav {
  top: 3vh;
}

.brand-logo {
  align-self: flex-start;
  border-radius: 12px;
  top: -2vh;
  left: 20px;
}

.social {
  margin-left: 2vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}
.social > a {
  padding: 0 1vw 0 1vw;
}
.social-side-nav {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
}

h5.footer_title {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
}

i.footer_icon {
  font-size: 2rem;
  padding-left: 1rem;
}
i.service_icon {
  color: wheat;
  font-size: 4rem;
}

.no_margin_bottom {
  margin-bottom: inherit;
}

i.icon_white {
  color: wheat;
}

h5.about_title {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
}

.about_section {
  font-family: "Courier New";
  width: 100%;
  padding: 10vh 0 10vh 0;
  overflow: hidden;
}
img.about_image {
  width: 100%;
  height: auto;
  border: 4px solid #1e4c40;
  border-radius: 20px;
}

/*Flex vertical align*/
.tfb {
  font-size: 2rem;
  font-weight: bold;
  color: wheat;
  font-family: "Nunito", sans-serif;
}
.icon-block {
  font-family: "Nunito", sans-serif;
}
/*Flex vertical align*/
.fva {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
@import url(https://fonts.googleapis.com/css?family=Lato:300,400);
body {
  margin: auto;
}
.container {
  color: #fff;
}

/* linear loading */
.bar-container {
  position: relative;
  height: 52px;
  width: 100%;
  background-color: #bdbdbd;
}

.bar {
  content: "";
  display: inline;
  position: absolute;
  height: 100%;
  width: 0%;
  right: 0;
}

.bar:nth-child(1) {
  background-color: #006495;
  animation: linear_loader 3s linear 1s infinite;
}

.bar:nth-child(2) {
  background-color: #f2635f;
  animation: linear_loader 3s linear 2s infinite;
}

.bar:nth-child(3) {
  background-color: #f4d00c;
  animation: linear_loader 3s linear 3s infinite;
}

@keyframes linear_loader {
  0% {
    right: 100%;
    width: 10%;
  }
  30% {
    right: 0%;
    width: 40%;
  }
  50% {
    right: 0%;
    width: 0%;
  }
  80% {
    right: 0%;
    width: 0%;
  }
  100% {
    right: 0%;
    width: 0%;
  }
}
/* end linear loading */
a {
  color: white;
  font-family: "Nunito", sans-serif;
}
.service-card {
  border: 2px solid wheat;
  min-height: 50vh;
  margin: 10px;
}

.service_title,
.about_title {
  top: 4vh;
}

.service_title > h5,
.about_title > h5 {
  padding-top: 4vh;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: xx-large;
  color: wheat;
}

.footer_title {
  color: wheat;
}

.about_title > h5 {
  font-weight: bold;
  font-size: xx-large;
  color: #1e4c40;
}
.about_text {
  color: #1e4c40;
  font-weight: 600;
}

#about {
  color: #1e4c40;
}

ul.sidenav {
  color: white;
}

ul.sidenav li > a {
  color: white;
}

.sidenav li > a > i,
.sidenav li > a > [class^="mdi-"],
.sidenav li > a li > a > [class*="mdi-"],
.sidenav li > a > i.material-icons {
  color: wheat !important;
}

#projects {
  margin-top: 8vh;
}
