.hero{
	position: relative;
	width: 100vw;
	height: 50vh;
	overflow: hidden;
}
.hero>img{
	position: absolute;
	width: 100%;
}

.brand-logo{
	  border-radius: 12px;
}

.social{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

h5.footer_title{
	font-size: 2rem;
	font-weight: bold;
}


i.footer_icon {
	font-size: 2rem;
	padding-left: 1rem;
}
i.service_icon{
	color: green;
	font-size: 4rem;
}

.no_margin_bottom{
	margin-bottom: inherit;
}

i.icon_white{
	color: white;
}

h5.about_title{
	font-size: 2rem;
	font-weight: bold;
}

.about_section{
	font-family: "Courier New";
	width: 100%;
	padding: 10vh 0 10vh 0;
	overflow: hidden;
}
img.about_image{
	width: 100%;
	height: auto;
}

/*Flex vertical align*/
.tfb{
	font-size: 2rem;
	font-weight: bold;
}
/*Flex vertical align*/
.fva{
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}






